body{
  background-color : #EAF6F6;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: gray;
  border-width: 10px;
  height: 0px;
  width: 10%;
}
h1{
  color: gray;
  text-decoration: underline;
  text-decoration-color: red;
}
